/node_modules
admin/node_modules
/public/hot
/public/storage
/storage/*.key
admin/storage/*.key
admin/storage/
/admin/public/storage
admin/public/storage
admin/vendor
/vendor
admin/vendor
Apache_2.4-PHP_7.2-7.3-x64+Nginx_1.14_vhostn.conf
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.nuxt
/dist
/public/_nuxt
*.code-workspace
client/ssl.letstestit.ru.crt
client/ssl.letstestit.ru.key
