// // Body
$body-bg: #f7f9fb;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;

//color
$main-color-bg: #eef0f1;
$page-bg: radial-gradient(at top, $main-color-bg, #A7CECC);
$main-color: #363E4B;
$main-fill-color: #04D0D9;
$main-text-color: #FBF8EF;
$col-text-second: #000000;
$card-test-title: #FFFFFF;
$main-box-shadow: 10px 5px 5px #3c3a3a;
$main-bt-opacity: rgba(54,62,75,.5);
$hover-bt-opacity: rgba(54,62,75,.3);


//border
$main-border: 1px solid rgba(154, 158, 165, 0.3);

//mixin
@mixin main-transition{
	transition: color .3s ease,
				border-color .3s ease,
				background-color .3s ease;
}

@mixin svg-transition{
	transition: fill .3s ease;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin align-top {
  display: flex;
  align-items: flex-start;
}

@mixin align-bottom {
  display: flex;
  align-items: flex-end;
}

@mixin round-shadow {
	box-shadow: $main-box-shadow;
}

@mixin appereance-transition{
	transition: opacity .3s ease,
				visibility .3s ease;
}

//width

$width-slider-lg: calc(100% / 3);
$width-slider-md: calc(100% / 2);
$width-slider-sm: calc(100% / 1);