@font-face {
    font-family: 'Roboto';
    font-display: block;
    src: url('../fonts/Roboto-Thin.ttf'),
         url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: block;
    src: url('../fonts/Roboto-Light.ttf'),
         url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: block;
    src: url('../fonts/Roboto-Regular.ttf'),
         url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: block;
    src: url('../fonts/Roboto-Medium.ttf'),
         url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}