*{
	outline: none !important;
}

body{
	/*background-color: red;*/
	font-family: 'Roboto';
}

ul,ol{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	color: $main-text-color;
	&:hover{
		color: $main-fill-color;
		text-decoration: none;
		outline: none;
	}
}
.form-control{
	transition: border-color .3s ease,
				box-shadow .3s ease;
	&.form-group--error{
		border-color: $main-color-red;
		box-shadow: 0 0 0 1px $main-color-red;
	}
}
.socials-icons{
	svg{
		path{
			@include svg-transition;			
		}
		&:hover{
			path{
				fill: $main-fill-color;
			}
		}
	}
}
.dark-link{
	/*text-shadow: -1px 1px 2px $col-text-first;*/
	//text-shadow: 1px 1px 1px $main-color;
    font-weight: 500;
    color: $main-color;
	&:hover{
	}
}
.base-button{
	text-shadow: 1px 1px 1px rgba(251, 248, 239, 0.1);
	font-weight: 500;
    font-size: 22px;
    width: 100%;
    height: 100%;
    border-radius: 67px;
    color: $main-text-color;
    @include align-center;
    justify-content: center;
    border: 1px solid $main-fill-color;
    background-color: $main-bt-opacity;
    outline: none;
    cursor: pointer;
    @include main-transition;
    &.big{
    	font-size: 24px;
    	border: 3px solid $main-fill-color;
    }
    &:hover{
    	background-color: $hover-bt-opacity;
    	color: $main-fill-color;
    }
}
.mobile{
	display: none ;
}
.container{
	padding: 0 17px;
	max-width: 1140px;
	width: 100%;
}
.hidden{
	display: none !important;
}
/*nav*/
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active{
	color: $main-text-color;
}

.navbar-light .navbar-nav .nav-link{
	color: $main-text-color;	
}
.nav-wrapper{
	@include align-center;
	justify-content: space-between;	
	width: 100%;
	.logo{
		display: block;
		font-size: 0;
		max-width: 159px;
		width: 100%;
		img{
			width: 100%;
		}
	}
	.nav-menu{		
		.nav-menu__wrapper{
			@include align-center;
			justify-content: flex-end;
			width: 100%;
			height: 100%;
		}
		.mobile-menu-block__wrapper{
			display: none;
		}
	}
	.nav-menu__list{
		@include align-center;
		margin: 0;
		padding: 0;
		li{
			margin-right: 49px;
			a{
				font-style: normal;
				font-weight: 100;
				font-size: 24px;
				color: $main-text-color;
				text-shadow: 1px 1px 1px rgba(251, 248, 239, 0.1);
				text-transform: uppercase;
				&:hover{
					color: $main-fill-color;
					text-decoration: none;
				}
			}
		}
	}
	.menu-bt{
		position: relative;
		.bt-wrp{
			@include align-center;
			justify-content: center;
			width: 100%;
			align-self: stretch;
			font-size: 24px;
			font-weight: 100;
		}
	}	
	.block{
		width: 62px;
		border-left: $main-border;
		border-right: $main-border;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		margin-right: 30px;
		min-height: 53px;
		font-size: 24px;
		font-weight: 100;
		&:last-child{
			margin-right: 0;
		}
		&.mobile{
			display: none;
		}
		&:hover{
		color: $main-fill-color;
		transition: all 0.5s ease 0s;
		}
	}
}
.navbar-expand-lg .navbar-nav .nav-link{
	padding: 0;
}
.navbar{
	padding: 0;
	height: 74px;
	padding: 9px 0;
	border-bottom: $main-border;
	background-color: $main-color;
	.menu-block__wrapper{
		position: absolute;
	    background-color: white;
	    width: 100%;
	    left: 0;
	    min-height: 74px;
	    z-index: 11;
	    top: 74px;	    
	    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.4);
	    transition: all 0.3s;
	    opacity: 0;
	    visibility: hidden;
	    @include align-center;
	    &.show{
	    	opacity: 1;
	    	visibility: visible;
	    }
		ul{
			li{				
				a{
					color: #333;
					&:hover{
						color: $main-fill-color;
					}
					&.router-link-exact-active{
						color: $main-fill-color;						
					}
				}
			}
		}
	}
}

.search-wrapper{
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $main-color;
    padding: 9px 0;
    @include appereance-transition;
    opacity: 0;
    visibility: hidden;
    &.show{
    	opacity: 1;
    	visibility: visible;
    }
}

/*breadcrumbs*/
.light{
	.breadcrumbs-wrapper{
		background-color: transparent;
		ul{			
			justify-content: center;	
			li{
				margin-left: 30px;
				&:before{
					top: calc(50% - 2px);
				    margin-left: -15px;
				    width: 6px;
				    height: 6px;
				}
				a, span{
					display: block;
					font-weight: normal;
					font-size: 24px;
					text-shadow: 2px 1px 1px #000000;
				}
			}
		}
	}
}

.breadcrumbs-wrapper{
	background-color: $main-color;
	ul{
		@include align-center;
		justify-content: flex-start;
		flex-wrap: wrap;
		min-height: 40px;
		li{
			position: relative;
			margin-left: 18px;
			a,span{
				font-style: normal;
				font-weight: 100;
				font-size: 14px;
			}
			span{
				cursor: default;
				color: $main-fill-color !important;
			}
			&:last-child{
				&:before{
					background-color: $main-fill-color;	
				}	
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				margin-left: -8px;
				width: 2px;
				height: 2px;
				border-radius: 50%;
				background-color: $main-text-color;
				@include main-transition;
			}
			&:hover{
				&:before{
					background-color: $main-fill-color;
				}
			}
		}
	}
}

/*banner*/
.banner-wrapper{
	background-color: $main-color;
	padding-top: 17px;
	padding-bottom: 17px;
	border-bottom: 1px solid $main-fill-color;
	.container{
		position: relative;
		padding-top: 0;
	}
	.banner-image__wrapper{
		width: 100%;
		img{
			width: 100%;
		}
	}
	.banner-description__wrapper{
		@include align-center;
		justify-content: space-between;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		color: white;
		font-weight: 500;
		padding: 18px 0;
		h1{
			text-transform: uppercase;
			font-size: 64px;
			line-height: 1;
			margin-bottom: 10px;
		}
		.banner-desc{
			font-size: 36px;
			text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
		}
		.subscribe-bt__wrapper{
			margin-bottom: 30px;
			.subscribe-bt{
				@include align-center;
				justify-content: center;
				font-size: 29px;
				text-transform: uppercase;
				text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
				width: 321px;
				height: 79px;
				border: 3px solid $main-fill-color;
				border-radius: 67px;
				margin: auto;
				cursor: pointer;
			}
		}
		.socials-wrapper{
			ul{
				@include align-center;
				justify-content: center;
			}
			.item{
				padding: 0 5px;
				a{
					display: block;
					font-size: 0;
					width: 47px;
					border-radius: 50%;
					/*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);*/
					img{
						width: 100%;
					}
				}
			}			
		}
	}
	.subscribe-txt{
		font-size: 23px;
    	text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    	text-align: center;
	    color: white;
	    font-weight: 400;
	    display: block;
	    margin-bottom: 15px;
	}
}
.light {
	.catalog-slider__wrapper{
		&.about-wrapper{
			.breadcrumbs-wrapper {
				ul {
					li {						
						&:before{							
						    background-color: $main-text-color;						    
						}
						a{
							color: $main-text-color;
						}
						span{
							/*color: $main-color !important;*/
						}
						&:last-child{
							&:before{
								/*background-color: $main-color;*/
							}
						}
					}
				}
			}
			.slider-wrapper {
				.content-wrapper{
					padding: 10px 0 25px;
					position: relative;
					z-index: 1;
				}
				.category-title{
					border: none;
					margin-bottom: 0;
				}
			}
			.content-internal__wrapper{
				@include align-top;
				justify-content: space-between;
				.text-block{
					width: calc(100% - 300px - 25px);
					font-weight: 300;
					padding-top: 25px;
					border-top: 3px double rgba(154, 158, 165, 0.3);
					.after-title{
						font-weight: 400;
					    margin: auto;
					    padding-bottom: 25px;
					    font-size: 21px;
					    margin-bottom: 25px;
					    border-bottom: 1px solid #c9d2d4;
					    padding-top: 45px;
					    &:first-child{
					    	padding-top: 0;
					    }
					}
				}
				.content-block{
					width: 300px;
					padding-bottom: 30px;
    				/*border-bottom: 3px double rgba(154, 158, 165, 0.3);*/
					.title{
						padding: 10px;
					    background-color: $main-color;
					    border-radius: 3px;
					    color: white;
					    margin-bottom: 20px;
					    font-weight: 100;
					    /*text-shadow: 1px 1px 1px #000000;*/
					}
				}
				.tests-about__wrapper{		
					padding: 0 5px;			
					ul{
						@include align-top;
						justify-content: flex-start;
						flex-wrap: wrap;
						li{
							width: calc(100% / 2);
							margin-bottom: 10px;
							padding-left: 15px;
							position: relative;
							&:last-child,
							&:nth-last-child(2){
								margin-bottom: 0;
							}
							&:before{
								content: "";
								position: absolute;
								top: 6px;
								left: 3px;
								width: 5px;
								height: 5px;
								border-radius: 50%;
								background-color: $main-fill-color;
							}
							a{
								font-size: 14px;
							    text-shadow: 1px 1px 1px #000000;
							    line-height: 16px;
    							display: block;	
    							text-overflow: ellipsis;
							    overflow: hidden;
							    white-space: nowrap;						    
						   	}
						}
					}
				}
			}
		}		
		.breadcrumbs-wrapper {
			padding-top: 10px;
			ul{
				justify-content: flex-start;
				li{
					&:before{
						top: 1px;
					    bottom: 0;
					    width: 6px;
					    height: 6px;
					    margin: auto 0 auto -15px;
					    background-color: $main-color;
					    @include main-transition;
					}
					&:last-child{
						&:before{
							background-color: $main-fill-color;
						}
					}
					&:hover{
						a{
							color: $main-fill-color;
						}
						&:before{
							background-color: $main-fill-color;
						}	
					}
					&:first-child{
						margin-left: 15px;
					}
					a,span{
						font-size: 15px;
					    text-shadow: none;
					    color: $main-color;
					    text-transform: inherit;
					    font-weight: 500;
					}
				}
			}
		}
	}
}
.catalog-slider__wrapper{	
	/*background: $page-bg;*/
	.category-title{
		text-shadow: 1px 1px 1px #000000;
		padding: 45px 0;
		text-align: center;
		font-size: 55px;
		color: $main-color;
		border-bottom: 3px double rgba(154, 158, 165, 0.3);
		position: relative;
		span{
			position: relative;
			min-height: 82px;
    		display: block;
		}
	}	
	.slider-wrapper{
		.switcher-wrapper{
			background: none;
			min-height: auto;
			border: none;
			.container{
				background-color: transparent;
				border: none;
			}
		}	
		.content-wrapper{
			background: none;
		}
		&.search-result__wrapper{
			.category-title{
				@include align-bottom;
				justify-content: flex-start;
				font-size: 21px;
				flex-wrap: wrap;
				span{
					min-height: auto;
				}
				.txt{
					margin-right: 10px;
				}
				.request{

				}
			}
		}
	}	
}

.empty-category__wrapper{
	font-size: 21px;
	font-weight: 400;
	text-align: center;
}

/*main slider*/
.slider-wrapper{
	display: block;
	width: 100%;
	position: relative;	 
	.show-more__button{
		@include align-center;
		justify-content: center;
		position: absolute;
		bottom: 50px;
		background-color: $main-color;
		border-radius: 50%;
		width: 74px;
		height: 74px;
		left: 0;
		right: 0;
		margin: auto;
		cursor: pointer;
		opacity: 1;
		transition: opacity .3s ease;
		&:hover{
			opacity: 0.8;
		}
	}
	.switcher-wrapper__internal{
		position: relative;
	}
	.switcher-wrapper{
		width: 100%;
		//background-color: $main-color;
		min-height: 234px;
		//border-top: 1px solid $main-fill-color;
		//border-bottom: 1px solid $main-fill-color;
		.container{
			background-color: $main-color;
			border: 1px solid $main-fill-color;
			border-radius: 10px;
		}
		.arrows-wrapper{			
			.arrow{
				@include align-center;
				justify-content: center;
				width: 78px;
				height: 78px;
				border-radius: 50%;
				background-color: white;
				cursor: pointer;
				position: absolute;
				top: 0;
			    bottom: 0;
			    margin: auto;
			    user-select: none;
			    opacity: 1;
			    transition: opacity .3s ease;
			    &:hover{
			    	opacity: 0.8;
			    }
				&.left{
					left: 0;
				}
				&.right{
					right: 0;
				}
				&.disabled{
					opacity: 0.1;
					pointer-events: none;
					cursor: default;
				}
			}
		}
		.description-wrapper{
			position: relative;
		    padding-bottom: 234px;
		    display: inherit;
		    overflow: hidden;
		    width: calc(100% - 78px - 78px);
		    margin: auto;
		    text-align: center;
		    /*
				backdrop-filter: blur(3px);
			    max-width: 288px;
			    padding: 35px 0;
			    border-radius: 72px;
		    */
			ul{
				@include align-center;
				justify-content: flex-start;
				width: inherit;
			    flex-wrap: nowrap;
			    position: absolute;
			    z-index: 1;
			    margin-left: 0;				    
			    transition: margin-left ease 0.3s;
			    width: auto;
			    height: 100%;
				li{
					width: 100%;
					min-width: 950px;
					font-style: normal;
					font-weight: 500;
					font-size: 64px;
					line-height: 64px;
					color: $main-text-color;
				}
			}
		}
	}
	.content-wrapper{
		/*background-image: url(~assets/images/png/puzzle-bg.png);*/
		/*background-color: $main-color-bg;*/
		/*background: $page-bg;*/
		background-size: auto;
		padding: 57px 0 150px 0;
		min-height: 650px;
		.content-filters__wrapper{
			width: calc(100% - ((100% - (288px * 3))/3));
    		margin: auto;
			margin-bottom: 25px;
			@include align-center;
			justify-content: space-between;

			.filter{
				position: relative;
				width: 219px;
				&.show{
					.options-wrapper{
						display: block;
					}	
				}				
				.title-wrapper{
					@include align-center;
					justify-content: flex-start;
					background: $main-color;
					height: 41px;
					cursor: pointer;
					.title{
						color: $main-text-color;
						font-size: 24px;
						position: relative;
						padding-left: 67px;
						&:before{
							content: "";
							position: absolute;
							top: calc(50% - 7px);
							left: 21px;
							background: url(~assets/images/png/arrow-d.png);
							width: 15px;
							height: 15px;
						}
					}
				}
				.options-wrapper{
					position: absolute;
					top: 41px;
					left: 0;
					width: 100%;
					display: none;	
					z-index: 10;				
					ul{
						li{
							color: $main-text-color;
							background: $main-color;
							padding-left: 67px;
							font-size: 24px;	

						}
					}
				}
			}
		}

		.content-categories__wrapper{
			width: 100%;
			ul{
				@include align-center;
				justify-content: flex-start;
				flex-wrap: wrap;
				width: 100%;

				max-height: 100%;
				overflow: hidden;
				transition: max-height 0.25s ease-in;	

				li{
					width: $width-slider-lg;
					margin: 35px 0;
					&.category-item{
						text-align: center;
						position: relative;
						@include align-center;
						justify-content: center;
						.category-item__internal{
							@include align-center;
							justify-content: center;
							box-shadow: 10px 5px 5px #3c3a3a;
    						border-radius: 50%;
							width: 255px;							
							height: 255px;
							overflow: hidden;
							background-position: center !important;
							background-size: cover !important;
						}
						.img-wrapper{
							box-shadow: 10px 5px 5px #3c3a3a;
    						border-radius: 50%;
							max-width: 255px;
							width: 100%;
							margin: auto;
							img{
								width: 100%;
							}
						}
						.link-wrapper{
							width: 100%;												
							.link{
								@include align-center;
								justify-content: center;
								color: $main-color;								
								width: 100%;
								text-shadow: 1px 1px 1px #000000;
								margin: auto;
								max-width: 212px;
								height: 49px;
								background: rgba(251, 248, 239, 0.8);
								box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
								border-radius: 24.5px;
							}
						}
					}
					.item{
						@include align-top;
						justify-content: center;
						position: relative;
						.img-wrapper{
							box-shadow: 10px 5px 5px #3c3a3a;
    						border-radius: 76px;
    						max-width: 288px;
    						width: 100%;
    						overflow: hidden;
    						min-height: 235px;
    						max-height: 373px;
							img{
								width: 100%;
							}
						}
						.description-wrapper{							
							height: 100%;
							width: 100%;
							/*padding: 35px 60px 35px 60px;*/
							padding: 35px 10px;
    						max-width: 288px;
							position: absolute;
							.description-wrapper__top{
								padding-bottom: 25px;
								@include align-center;
								justify-content: space-between;
								flex-direction: column;
								height: 50%;
								.tags{
									@include align-center;
									justify-content: space-between;
									width: 80%;
									.tag{
										font-size: 8px;
										color: $main-text-color;
										background-color: transparent;
										min-width: 55px;
										height: 12px;
										line-height: 10px;
										text-align: center;
										border: 1px solid $main-fill-color;
										padding: 0 4px;
										border-radius: 6px;
									}
								}
								.title{
									text-shadow: 2px 2px 1px #000000;
									text-align: center;
									color: $card-test-title;
									font-size: 20px;
									font-weight: 900;
								}
							}
							.description-wrapper__bottom{
								padding-top: 25px;
								@include align-center;
								justify-content: flex-start;
								flex-direction: column;
								height: 50%;
								.button{
									text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
									font-weight: 500;
									font-size: 22px;
									width: 100%;
									max-width: 185px;
									height: 47px;
									border: 1px solid $main-fill-color;
									border-radius: 67px;
									@include align-center;
									justify-content: center;
								}
							}
						}
						
					}
				}
			}
		}
	}
}

/* main page catalog list*/
.main-list__wrapper{
	padding: 50px 0;	
}

.categories-list__wrapper{
	ul{
		width: 100%;
		li{
			width: 100%;
			padding: 30px 0;
			&.item/*,
			.container*/{
				@include align-center;
				justify-content: flex-start;
			}
			&.odd{

			}
			&.even{
				//background-color: $main-color;
				&.item/*,
				.container*/{
					flex-direction: row-reverse;
				}
				.dsc-wrp{
					text-align: right;
				}
			}
			.img-wrp{
				border-radius: 50%;
				overflow: hidden;
				width: 100%;
				max-width: 170px;
				min-width: 80px;
				position: relative;
				/*.overlay{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(255,255,255, 0);
					transition: background-color .3s ease;
				}*/
				img{
					opacity: 1;
					transition: opacity .3s ease;
				}
				&:hover{
					/*.overlay{
						background-color: rgba(255,255,255, 0.5);		
					}*/
					img{
						opacity: 0.8;
					}
				}
			}
			img{
				width: 100%;
			}
			.dsc-wrp{
				padding: 0 25px;
				.description{	
					/*text-shadow: 2px 2px 1px #000000;*/
				}
				b{
					display: block;
					margin-bottom: 15px;
					padding-bottom: 5px;
					border-bottom: 2px solid $main-fill-color;
					font-size: 28px;
					font-weight: 500;
				}
				span{
					display: block;
					font-size: 16px;
				    font-weight: 300;
				}
				.dark-link{
					font-size: 14px;
				    margin-top: 5px;
				    display: block;
				}
			}
			a{

			}
		}
	}
}

footer{
	&.footer-wrapper{
		background-color: $main-color;
		padding: 80px 0 0 0;		
		.footer-top__wrapper{
			border-bottom: 1px solid rgba(229, 229, 229, 0.4);
			.bottom-menu__wrapper {
				margin-bottom: 70px;
				.col-md-6{
					border-right: 1px solid #79797C;
					box-shadow: 5px 0 5px -5px #333;
				}
				ul{
					padding: 0;
					width: 100%;
					@include align-top;
					justify-content: flex-start;
					flex-wrap: wrap;
					li{
						position: relative;						
						padding: 0 0px 40px 15px;
						margin: 0 15px 0 15px;
						width: calc(50% - 30px);
						border-right: 1px solid #79797C;
						box-shadow: 5px 0 5px -5px #333;
						&:last-child,
						&:nth-last-child(2){
							/*margin-bottom: 0px;*/
							padding-bottom: 0px;
						}
						/*&:nth-child(odd){
							border-right: 1px solid #79797C;
							box-shadow: 5px 0 5px -5px #333;
						}*/
						&:before{
							content: '';
						    position: absolute;
						    left: 0;
						    /*top: 50%;*/
						    top: 10px;
						    margin-left: -8px;
						    width: 3px;
						    height: 3px;
						    border-radius: 50%;
						    background-color: $main-text-color;
						}
						a{
							text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
							font-size: 16px;							
						}

					}
				}
			}
			.bottom-contacts__wrapper{
				@include align-center;
				/*justify-content: space-around;*/
				flex-direction: column;
				height: calc(100% - 30px);
				.wrapper{	
					width: 100%;
					text-align: center;
					margin-bottom: 10%;
				}	
				.title{
					color: $main-text-color;
					font-size: 24px;
					text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
					margin-bottom: 20px;
				}
				.mail{
					a{
						font-size: 24px;
						text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
					}
				}
				.socials-bottom__wrapper{					
					ul{
						@include align-center;
						justify-content: center;
						li{
							padding: 0px 8px 10px 8px;
							&:first-child{
								/*padding-left: 0px;*/
							}
						}
					}
				}
			}
		}
		.footer-bottom__wrapper{
			@include align-center;
			justify-content: center;
			height: 80px;			
			width: 100%;
			span{
				display: block;
				color: $main-text-color;
				font-size: 13px;
				/*&:hover{
					color: $main-fill-color;
				}*/
			}
		}
	}
}

.test-wrapper{
	background-position: center !important;
    background-size: cover !important;
    min-height: 500px;    
    background-color: #b3b3b3;
    display: flex;
    width: 100%;
    .breadcrumbs-wrapper{
    	padding: 25px 0 0 0;
    }
}

.results-wrapper{
	padding: 25px 0 100px 0;
	/*background-color: rgba(255,255,255,0.08);
    backdrop-filter: blur(3px) brightness(85%);*/
    width: 100%;
	.result{
		text-align: center;
		font-weight: 900;
		font-size: 96px;
		color: $main-text-color;
		text-shadow: 3px 2px 1px #000000;
		margin: 70px 0 40px 0;
	}
	.description{
		font-weight: normal;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		text-shadow: 2px 1px 0px #000000;
		color: $main-text-color;
		margin-bottom: 35px;
		.description__internal{
			a{
				@include reverse-transition;
			}
		}
	}
	.correct-results{
		font-weight: normal;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		text-shadow: 2px 1px 0px #000000;
		margin-bottom: 35px;
		color: $main-text-color;
	}
	.socials-wrapper{
		ul{
			@include align-center;
			justify-content: center;
		}
		.item{
			padding: 0 5px;
			a{
				display: block;
				font-size: 0;
				width: 47px;
				border-radius: 50%;
				/*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);*/
				img{
					width: 100%;
				}
			}
		}
		&.__custom{
			@include align-center;
			justify-content: center;
			.social-item{				
				width: 47px;
				height: 47px;
				display: block;
				cursor: pointer;
				margin: 0 5px;
				&.share-network-facebook{
					background: url('~assets/images/svg/fb.svg');
				}
				&.share-network-vk{
					background: url('~assets/images/svg/vk.svg');	
				}
				&.share-network-twitter{
					background: url(~assets/images/svg/twitter.svg);
				}
			}
		}
	}
	.button-wrapper{
		margin: 75px auto 0 auto;
		width: 382px;
		height: 66px;
		span{
			font-size: 24px;
		}
	}
}

.check-container {
    display: block;
    position: relative;
    padding-left: 63px;
    line-height: 42px;
    cursor: pointer;
    font-weight: 500;
	font-size: 36px;   
    user-select: none;
    text-transform: none;
    color: $col-text-second;
    &:hover input~.checkmark {
	    background-color: #ccc;
	}
	input {
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	    &:checked~.checkmark {
		    background-color: $main-fill-color;
		    &:after {
			    display: block;
			}
		}
	}
	.checkmark {
	    position: absolute;
	    top: calc(50% - 18px);
	    left: 0;
	    height: 36px;
	    width: 36px;
	    background-color: white;
	    border-radius: 50%;
	    border: 1px solid grey;
	    &:after {
		    content: "";
		    position: absolute;
		    display: none;
		    top: 0px;
		    left: 0px;
		    width: 34px;
		    height: 34px;
		    border-radius: 50%;
		    background: $main-fill-color;
		}
	}
}

.custom-bt{	
	@include align-center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 3px solid $main-fill-color;		
	border-radius: 67px;
	box-shadow: none;
	outline: none;
	span{
		font-weight: 500;
		font-size: 30px;
		color: $col-text-second;
	}
	&.bg-tr{
		background: rgba(54, 62, 75, 0.5);
		span{
			color: $main-text-color;
			text-shadow: 1px 1px 1px #000000;
		}
	}
}

.quiz-wrapper{
	padding: 90px 0 100px 0;		
	.quiz-item{
		width: 100%;
		padding: 46px 0 54px 0;		
		max-width: 920px;		
		margin: auto;
		background-color: rgba(251, 248, 239, 0.8);
		border: 2px solid $main-fill-color;
		border-radius: 82px;
		.quiz-item__content{
			opacity: 1;
			visibility: visible;
			transition: all .2s;
			&.fade-out{
				opacity: 0;
				visibility: hidden;
			}
			&.with-image{

			}
		}	
		.quiz-item__info{
			@include align-center;
			justify-content: space-between;
			padding: 0 66px;
			margin-bottom: 48px;
			.back-bt{
				@include align-center;
				justify-content: flex-start;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
				color: $col-text-second;
				font-weight: normal;
				font-size: 24px;
				cursor: pointer;
				&:before{
					content: '';
					border: 15px solid transparent; 
					border-right: 30px solid $main-fill-color;
					margin-right: 10px;
				}
			}
			.counter{
				font-weight: 500;
				font-size: 40px;
				b{
					color: $main-fill-color;
				}
				span{
					color: $col-text-second;
				}
			}
		}
		.title{
			text-align: center;
			font-weight: 500;
			font-size: 36px;
			margin-bottom: 48px;
			color: $col-text-second;
			padding: 0 25px;
		}
		.question-img{
			width: 100%;
			padding: 0 25px 35px 25px;
			img{
				width: 100%;
			}
		}
		.answers{
			padding: 0 100px;
			ul{
				li{
					margin-bottom: 48px;

				}
			}
		}
	}
	.button-wrapper{
		width: 292px;
		height: 72px;
		margin: auto;
	}
}

/******media******/

@media screen and (max-width: 1140px){
	.results-wrapper{
		padding: 25px 0 50px 0;
	}
	.slider-wrapper {
		.content-wrapper {
			.content-categories__wrapper {
				ul{
					li{
						width: $width-slider-md;
						.item {
							.description-wrapper{
								padding: 35px 10px;
								max-width: 288px;
							}
						}
					}
				}
			}
		}
		.switcher-wrapper {
			.arrows-wrapper {
				.arrow{
					width: 62px;
    				height: 62px;
    				img{
    					width: 20px;
    				}
				}
			}
			.description-wrapper {
				ul {
					li{
						font-size: 44px;
    					line-height: 44px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 992px){
	.quiz-wrapper{	
		.quiz-item{		
			.quiz-item__content{
				&.with-image{
					@include align-top;
					justify-content: space-between;
					.question-img{
						width: 50%;
					}
					.quiz-item__internal{
						width: 50%;
					}
					.title{
						text-align: left;
					}
					.answers{
						padding: 0 25px;
					}
					.img-lightbox{
						cursor: pointer;
					}
				}
			}
		}
	}
	.dropdown-toggle::after{
		margin-left: -2px;
	}
	.navbar {
		.menu-block__wrapper{
			min-height: 48px;
			padding: 10px 0;
			ul {
				justify-content: flex-start;
				align-items: flex-start;
				li{
					width: calc(100% / 4);
					margin: 4px 0;
					//text-align: center;					
					a{
						position: relative;
						display: block;
						width: 100%;
						padding: 0 20px;
						&:after{
							content: '';
						    position: absolute;
						    left: 0;
						    top: 10px;
						    margin-left: 0px;
						    width: 4px;
						    height: 4px;
						    border-radius: 50%;
						    background-color: $col-text-dark;
						    @include main-transition;
						}
						&:hover{
							&:after{
								background-color: $main-fill-color;
							}
						}
						&.router-link-exact-active{
							&:after{
								background-color: $main-fill-color;
							}		
						}
					}
					
				}
			}
		}
	}
}
@media screen and (max-width: 991px){
	.navbar-light .navbar-nav .nav-link, 
	.navbar-light .navbar-nav .show > .nav-link, 
	.navbar-light .navbar-nav .active > .nav-link, 
	.navbar-light .navbar-nav .nav-link.show, 
	.navbar-light .navbar-nav .nav-link.active{
		color: $col-text-second;
	}
	.light {
		.breadcrumbs-wrapper{

		}
	}
	.results-wrapper {
		.result{
			font-size: 60px;
			line-height: 70px;
    		margin: 20px 0 25px 0;
		}
		.correct-results,
		.description{
			font-size: 23px;
    		line-height: 29px;
		}

		.button-wrapper{
			margin: 40px auto 0 auto;
		}
	}
	.quiz-wrapper {
		.quiz-item{
			margin: 0 20px;
    		width: calc(100% - 40px);    		
		}	
	}
	.banner-wrapper {
		.banner-description__wrapper {
			h1{
				font-size: 50px;
			}
			.banner-desc{
				font-size: 30px;
			}
		}
	}
	.navbar-nav .dropdown-menu{
		position: absolute;
	}
	.navbar{
		.menu-block__wrapper{
			display: none !important;
		}
	}
	.nav-wrapper {
		padding: 0 17px;
		.nav-menu{
			display: block;
			position: fixed;
		    top: 0;
		    left: 0;
		    z-index: 3;		    
		    height: 100vh;
		    background: white;
		    width: 100%;
		    overflow-y: scroll;
    		overflow-x: hidden;
		    max-width: 295px;
		    margin-left: -295px;
		    transition: margin-left .3s ease;
		    &.show{
				margin-left: 0;
		    }
		    .nav-menu__wrapper{
				flex-direction: column;
				align-items: flex-start;
				padding: 0;
			    margin: 0;			    
			    position: relative;			    			    			    			    			    
			    height: auto;
			    padding: 0 0 30px 15px;
			    .navbar-nav.block{
			    	border: none;
			    	width: 100%;
			    	justify-content: flex-start;
			    	flex-direction: row;
			    }
		    }
		    .nav-menu__list{
		    	flex-direction: column-reverse;
		    	align-items: flex-start;
		    	li{
		    		a{
		    			color: $main-fill-color;
		    		}
		    	}
		    }
		    .menu-bt {
		    	&.nav-block{
					width: auto;
					border: none;
					display: none !important;
			    }
		    	.bt-wrp{
		    		display: none !important;
		    	}
		    }
		    .serach-wrapper.block{
		    	border: none;
		    	border: none;
			    width: 100%;
			    margin: 0;
			    align-items: center;
			    justify-content: flex-start;
		    	.search-wrapper__open{
		    		display: none;
		    	}
		    	.search-block__wrapper.hidden{
					display: flex !important;
					input{

					}
					.search-bt{
						background-color: $main-fill-color;
					}
		    	}
		    	&.descktop{
		    		display: none;
		    	}
		    }		    
		    .mobile-menu-block__wrapper{
		    	width: auto;
			    opacity: 1;
			    min-height: auto;
			    position: initial;
			    box-shadow: none;
			    visibility: visible;
			    display: block;
		    	ul.container{
		    		flex-direction: column;
		    		width: auto;
		    		margin: 0;
		    		align-items: flex-start;

		    	}
		    	li{
		    		a{
		    			color: $col-text-second;
		    		}
		    	}
		    }
		    .menu-title.mobile{
		    	@include align-center;
		    	justify-content: space-between;
				width: 100%;
				height: 45px;
		    	span{
		    		&:first-child{
						color: $col-text-second;
		    		}
		    		&:last-child{
						@include align-center;
		    			justify-content: center;
						color: $col-text-second;
						border: 1px solid $col-text-second;
						height: 100%;
						width: 50px;
						font-size: 35px;
						b{
							font-weight: 200;
							transform: rotate(45deg);	
						}
		    		}
		    	}
		    }
		}
		.menu-bt {
			&.mobile{
				@include align-center;
				justify-content: flex-start;
				width: 33px;
				height: 100%;
				margin-left: 0px;
			}
		}
		.serach-wrapper{
			&.block.mobile{
				@include align-center;
				justify-content: center;
				width: 33px;
				height: 100%;
				border: none;
				margin-right: 0px;				
			}
		}		
	}
	.dark-overlay{
		position: fixed;
	    left: 0;
	    top: 0;
	    background-color: black;	    
	    width: 100%;
	    height: 100%;		    
	    z-index: 2;
	    visibility: hidden;
	    opacity: 0;
	    transition: opacity .3s ease, visibility .3s ease;
	    &.mobile{
	    	display: block;	    		    	
	    }
	    &.show{
			visibility: visible;
	    	opacity: 0.3;
	    }
	}
	.slider-wrapper .content-wrapper .content-filters__wrapper{
		display: none;
	}
	.light {
		.catalog-slider__wrapper{
			&.about-wrapper {
				.content-internal__wrapper{
					flex-direction: column;
					.text-block{
						margin-bottom: 30px;
						width: 100%;
					}
					.content-block{
						width: 100%;
					}
					.tests-about__wrapper {
						ul {
							li{
								width: calc(100% / 3);
							}
						}
					}
				}
			}
		}
	}


}

@media screen and (max-width: 768px){
	.categories-list__wrapper ul li .dsc-wrp b{
		font-size: 21px;
	}
	.light {
		.catalog-slider__wrapper{
			&.about-wrapper {
				.content-internal__wrapper{					
					.text-block{						
					}
					.content-block{
					}
					.tests-about__wrapper {
						ul {
							li{
								width: calc(100% / 2);
							}
						}
					}
				}
			}
		}
	}
	.custom-bt{
		span{
			font-size: 20px;
		}
	}
	.check-container{
		font-size: 25px;
		line-height: 36px;
		.checkmark{
			height: 30px;
    		width: 30px;
    		top: calc(50% - 15px);
    		&:after{
    			top: 0px;
			    left: 0px;
			    width: 28px;
			    height: 28px;
    		}
		}
	}
	.quiz-wrapper {
		.quiz-item{			
    		.quiz-item__info{
    			padding: 0 35px;
    			margin-bottom: 25px;
    			.back-bt{
    				font-size: 20px;
    			}
    			.counter{
    				font-size: 28px;
    			}
    		}
    		.title{
    			margin-bottom: 30px;
    			font-size: 25px;
    		}
    		.answers{
    			padding: 0px 50px;
    			ul{
    				li{
    					margin-bottom: 20px;

    				}
    			}
    		}
    		.button-wrapper{
    			width: 100%;
    			max-width: 220px;
    			height: 50px;
    		}
		}	
	}
	.banner-wrapper {
		.banner-description__wrapper {
			justify-content: center;
			.wrapper{
				outline: none;
				&:first-child{
					display: none;
				}
				&:last-child{
					outline: none;
				}
			}
			h1{
				font-size: 50px;
			}
			.banner-desc{
				font-size: 30px;
			}
		}
	}
	.slider-wrapper {
		.content-wrapper {
			.content-categories__wrapper {
				ul{
					li{
						width: $width-slider-sm;
						.item {
							.description-wrapper{
								padding: 35px 10px;
								max-width: 288px;
							}
						}
					}
				}
			}
		}
		.switcher-wrapper {
			.arrows-wrapper {
				.arrow{
					width: 42px;
    				height: 42px;
    				img{
    					width: 13px;
    				}
				}
			}
			.description-wrapper {
				ul {

					li{
						font-size: 32px;
    					line-height: 32px;
					}
				}
			}
		}
	}
	footer{
	&.footer-wrapper{
		.footer-top__wrapper{
			.bottom-contacts__wrapper{
					.wrapper{	
						margin-bottom: 10px;
					}	
					.title{
						margin-bottom: 10px;
					}		
				}
			}
		}
	}
}

@media screen and (max-width: 576px){
	body{
		margin-right: 0!important;
	}	
	.quiz-wrapper .quiz-item .quiz-item__info .back-bt:before {
	    content: '';
	    border: 8px solid transparent;
	    border-right: 16px solid #04D0D9;
	    margin-right: 8px;
	}
	.slider-wrapper {
		.switcher-wrapper {
			.description-wrapper {
				ul {
					li{
						font-size: 24px;
						line-height: 26px;
					}
				}
			}
		}
	}
	.light {
		.breadcrumbs-wrapper{
			ul{
				li{
					margin-left: 25px;
					a,
					span{
						font-size: 18px;
					}
				}
			}
		}
	}
	.results-wrapper {
		.result{
			font-size: 38px;
		    line-height: 44px;
		    margin: 15px 0 15px 0;
		}
		.correct-results,
		.description{
			font-size: 18px;
    		line-height: 24px;
    		margin-bottom: 20px;
		}
		.button-wrapper{
			width: 100%;
			max-width: 300px;
			height: 45px;
			margin: 30px auto 0 auto;
			span{
				font-size: 18px;
			}
		}
	}
	.banner-wrapper {
		.banner-description__wrapper {
			.subscribe-bt__wrapper{
				display: none;
			}
		}
	}
	footer{
	&.footer-wrapper{
		padding-top: 40px;
		.footer-top__wrapper{
			.col-md-7{
				border-bottom: 1px solid rgba(229, 229, 229, 0.4);
			}
			.bottom-menu__wrapper{
				margin-bottom: 0;
				padding-bottom: 0px;
					ul{
						justify-content: flex-start;
    					align-items: center;
						flex-direction: column;
						padding-bottom: 15px;
						li{
							width: auto;
							border: none;
							text-align: center;
							padding: 0 15px 15px 15px;
							box-shadow: none;
							&:last-child,
							&:nth-last-child(2){
								padding: 0 15px 15px 15px;
							}
						}
					}
				}
			}
			.bottom-contacts__wrapper{
				.wrapper{	
					margin-top: 10px;
				}	
				.title{
					margin-bottom: 10px;
				}		
			}
		}
	}
	.catalog-slider__wrapper {
		.category-title {
			font-size: 30px;
			line-height: 32px;
			padding: 30px 0;
			span{
				min-height: 32px;
			}
		}

	}
	footer.footer-wrapper .footer-top__wrapper .bottom-contacts__wrapper .socials-bottom__wrapper ul{
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 480px){
	.slider-wrapper .switcher-wrapper .arrows-wrapper .arrow{
		opacity: 1;
	}
	.slider-wrapper .switcher-wrapper .container{
		border-radius: 0;
		border-right: none;
		border-left: none;
	}
	.main-list__wrapper{
		padding: 0px 0;
	}
	.categories-list__wrapper ul {
		li{
			padding: 25px 0;
			&.item{
				align-items: flex-start;
			}
			.dsc-wrp {
				padding: 0 20px;
				b{
					font-size: 17px;
					line-height: 20px;
					margin-bottom: 10px;
				}
				span{
					font-size: 14px;
					line-height: 18px;
				}
			}			
		}
	}
	.slider-wrapper .content-wrapper .content-categories__wrapper ul{
		padding: 0 15px;
	}
	.banner-wrapper .subscribe-txt{
		display: none;
	}
	.quiz-wrapper{
		padding: 30px 0 50px 0;
	}
	.light {
		.catalog-slider__wrapper{
			&.about-wrapper {
				.content-internal__wrapper{					
					.text-block{						
					}
					.content-block{
					}
					.tests-about__wrapper {
						ul {
							li{
								width: calc(100%);								
								&:nth-last-child(2){
									margin-bottom: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
	.light {
		.breadcrumbs-wrapper{
			ul{
				flex-wrap: wrap;
				li{
					margin-left: 18px;
					margin-right: 7px;
					&:before{
						top: calc(50% - 2px);
    					margin-left: -11px;
					}
					a,
					span{
						display: block;
						font-size: 14px;
						line-height: 19px;
					}
					/*&:first-child{
						margin-left: 25px;
					}*/
				}
			}
		}
		.catalog-slider__wrapper .breadcrumbs-wrapper ul li:first-child{
			margin-left: 18px;
		}
	}
	.custom-bt{
		span{
			font-size: 16px;
		}
	}
	.check-container{
		font-size: 16px;
    	line-height: 22px;
    	padding-left: 35px;
		.checkmark{
			height: 22px;
		    width: 22px;
		    top: calc(50% - 11px);
    		&:after{
    			width: 20px;
    			height: 20px;
    		}
		}
	}
	.quiz-wrapper {
		.quiz-item{
			margin: 0;
			width: 100%;	
			border-radius: 50px;		
    		.quiz-item__info{
    			padding: 0 20px;
    			margin-bottom: 18px;
    			.back-bt{
    				font-size: 18px;
    			}
    			.counter{
    				font-size: 22px;
    			}
    		}
    		.title{
    			margin-bottom: 15px;
    			font-size: 20px;
    		}
    		.answers{
    			padding: 0px 30px;
    			ul{
    				li{
    					margin-bottom: 10px;

    				}
    			}
    		}
    		.button-wrapper{    			
    			height: 40px;
    		}
		}	
	}
	.slider-wrapper {
		.switcher-wrapper {
			min-height: 100px;
			.description-wrapper{
				padding-bottom: 100px;
			}
		}
	}
	.slider-wrapper {
		.content-wrapper{
			padding: 10px 0 124px 0;
		}
	}
}

@media screen and (max-width: 400px){
	.slider-wrapper {		
		.switcher-wrapper {			
			.description-wrapper {
				ul {
					li{
						font-size: 16px;
    					line-height: 18px;
					}
				}
			}
		}
	}

}
