*{
	outline: none !important;
}

body{
	/*background-color: red;*/
	font-family: 'Roboto';
}

ul,ol{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	color: $main-text-color;
	&:hover{
		color: $main-fill-color;
		text-decoration: none;
		outline: none;
	}
}
.mobile{
	display: none ;
}
.container{
	padding: 0 17px;
	max-width: 1140px;
	width: 100%;
}
.hidden{
	display: none !important;
}
/*nav*/
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active{
	color: $main-text-color;
}
.nav-wrapper{
	@include align-center;
	justify-content: space-between;	
	width: 100%;
	.logo{
		display: block;
		font-size: 0;
		max-width: 159px;
		width: 100%;
		img{
			width: 100%;
		}
	}
	.nav-menu{		
		.nav-menu__wrapper{
			@include align-center;
			justify-content: flex-end;
			width: 100%;
			height: 100%;
		}
	}
	.nav-menu__list{
		@include align-center;
		margin: 0;
		padding: 0;
		li{
			margin-right: 49px;
			a{
				font-style: normal;
				font-weight: 100;
				font-size: 24px;
				color: $main-text-color;
				text-shadow: 1px 1px 1px rgba(251, 248, 239, 0.1);
				&:hover{
					color: $main-fill-color;
					text-decoration: none;
				}
			}
		}
	}
	.menu-bt{
		position: relative;
		.bt-wrp{
			@include align-center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
	}
	.menu-block__wrapper{
		position: fixed;
	    background-color: white;
	    width: 100%;
	    left: 0;
	    min-height: 74px;
	    z-index: 11;
	    top: 74px;	    
	    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.4);
	    transition: all 0.3s;
	    opacity: 0;
	    visibility: hidden;
	    @include align-center;
	    &.show{
	    	opacity: 1;
	    	visibility: visible;
	    }
		ul{
			li{				
				a{
					color: #333;
					&:hover{
						color: $main-fill-color;
					}
					&.router-link-exact-active{
						color: $main-fill-color;						
					}
				}
			}
		}
	}
	.block{
		width: 62px;
		border-left: $main-border;
		border-right: $main-border;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		margin-right: 30px;
		min-height: 53px;
		&:last-child{
			margin-right: 0;
		}
		&.mobile{
			display: none;
		}
	}
}
.navbar-expand-lg .navbar-nav .nav-link{
	padding: 0;
}
.navbar{
	padding: 0;
	height: 74px;
	padding: 9px 0;
	border-bottom: $main-border;
	background-color: $main-color;
}

/*breadcrumbs*/
.light{
	.breadcrumbs-wrapper{
		background-color: transparent;
		ul{			
			justify-content: center;	
			li{
				margin-left: 30px;
				&:before{
					top: calc(50% - 0px);
				    margin-left: -15px;
				    width: 6px;
				    height: 6px;
				}
				a{
					font-weight: normal;
					font-size: 24px;
					text-shadow: 2px 1px 1px #000000;
				}
			}
		}
	}
}

.breadcrumbs-wrapper{
	background-color: $main-color;
	ul{
		@include align-center;
		justify-content: flex-start;
		height: 40px;
		li{
			position: relative;
			margin-left: 18px;
			a{
				font-style: normal;
				font-weight: 100;
				font-size: 14px;
			}
			&:last-child{
				&:before{
					background-color: $main-fill-color;	
				}	
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				margin-left: -8px;
				width: 2px;
				height: 2px;
				border-radius: 50%;
				background-color: $main-text-color;
			}
		}
	}
}

/*banner*/
.banner-wrapper{
	background-color: $main-color;
	.container{
		position: relative;
	}
	.banner-image__wrapper{
		width: 100%;
		img{
			width: 100%;
		}
	}
	.banner-description__wrapper{
		@include align-center;
		justify-content: space-between;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		color: white;
		font-weight: 500;
		padding: 18px 0;
		h1{
			text-transform: uppercase;
			font-size: 64px;
			line-height: 1;
			margin-bottom: 10px;
		}
		.banner-desc{
			font-size: 36px;
			text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
		}
		.subscribe-bt__wrapper{
			margin-bottom: 30px;
			.subscribe-bt{
				@include align-center;
				justify-content: center;
				font-size: 29px;
				text-transform: uppercase;
				text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
				width: 321px;
				height: 79px;
				border: 3px solid $main-fill-color;
				border-radius: 67px;
				margin: auto;
				cursor: pointer;
			}
		}
		.socials-wrapper{
			ul{
				@include align-center;
				justify-content: center;
			}
			.item{
				padding: 0 5px;
				a{
					display: block;
					font-size: 0;
					width: 47px;
					border-radius: 50%;
					/*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);*/
					img{
						width: 100%;
					}
				}
			}
		}
	}
}

/*main slider*/
.slider-wrapper{
	display: block;
	width: 100%;
	position: relative;	 
	.show-more__button{
		@include align-center;
		justify-content: center;
		position: absolute;
		bottom: 50px;
		background-color: $main-color;
		border-radius: 50%;
		width: 74px;
		height: 74px;
		left: 0;
		right: 0;
		margin: auto;
		cursor: pointer;
	}
	.switcher-wrapper__internal{
		position: relative;
	}
	.switcher-wrapper{
		width: 100%;
		background-color: $main-color;
		min-height: 234px;
		.arrows-wrapper{			
			.arrow{
				@include align-center;
				justify-content: center;
				width: 78px;
				height: 78px;
				border-radius: 50%;
				background-color: white;
				cursor: pointer;
				position: absolute;
				top: 0;
			    bottom: 0;
			    margin: auto;
				&.left{
					left: 0;
				}
				&.right{
					right: 0;
				}
			}
		}
		.description-wrapper{
			position: relative;
		    padding-bottom: 234px;
		    display: inherit;
		    overflow: hidden;
		    width: calc(100% - 78px - 78px);
		    margin: auto;
		    text-align: center;
			ul{
				@include align-center;
				justify-content: flex-start;
				width: inherit;
			    flex-wrap: nowrap;
			    position: absolute;
			    z-index: 1;
			    margin-left: 0;				    
			    transition: margin-left ease 0.3s;
			    width: auto;
			    height: 100%;
				li{
					width: 100%;
					min-width: 950px;
					font-style: normal;
					font-weight: 500;
					font-size: 64px;
					line-height: 64px;
					color: $main-text-color;
				}
			}
		}
	}
	.content-wrapper{
		/*background-image: url(~assets/images/png/puzzle-bg.png);*/
		/*background-color: $main-color-bg;*/
		background: radial-gradient(at top, $main-color-bg, #A7CECC);
		background-size: auto;
		padding: 57px 0 150px 0;
		.content-filters__wrapper{
			width: calc(100% - ((100% - (288px * 3))/3));
    		margin: auto;
			margin-bottom: 25px;
			@include align-center;
			justify-content: space-between;

			.filter{
				position: relative;
				width: 219px;
				&.show{
					.options-wrapper{
						display: block;
					}	
				}				
				.title-wrapper{
					@include align-center;
					justify-content: flex-start;
					background: $main-color;
					height: 41px;
					cursor: pointer;
					.title{
						color: $main-text-color;
						font-size: 24px;
						position: relative;
						padding-left: 67px;
						&:before{
							content: "";
							position: absolute;
							top: calc(50% - 7px);
							left: 21px;
							background: url(~assets/images/png/arrow-d.png);
							width: 15px;
							height: 15px;
						}
					}
				}
				.options-wrapper{
					position: absolute;
					top: 41px;
					left: 0;
					width: 100%;
					display: none;	
					z-index: 10;				
					ul{
						li{
							color: $main-text-color;
							background: $main-color;
							padding-left: 67px;
							font-size: 24px;	

						}
					}
				}
			}
		}

		.content-categories__wrapper{
			width: 100%;
			ul{
				@include align-center;
				justify-content: flex-start;
				flex-wrap: wrap;
				width: 100%;

				max-height: 100%;
				overflow: hidden;
				transition: max-height 0.25s ease-in;	

				li{
					width: $width-slider-lg;
					margin: 35px 0;
					&.category-item{
						text-align: center;
						position: relative;
						.img-wrapper{
							box-shadow: 10px 5px 5px #3c3a3a;
    						border-radius: 50%;
							max-width: 255px;
							width: 100%;
							margin: auto;
							img{
								width: 100%;
							}
						}
						.link-wrapper{
							@include align-center;
							justify-content: center;
							position: absolute;
							width: 100%;
							height: 100%;		
							top: 0;
							left: 0;
							z-index: 1;					
							.link{
								@include align-center;
								justify-content: center;
								color: $main-color;								
								width: 100%;
								text-shadow: 1px 1px 1px #000000;
								max-width: 212px;
								height: 49px;
								background: rgba(251, 248, 239, 0.8);
								box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
								border-radius: 24.5px;
							}
						}
					}
					.item{
						@include align-top;
						justify-content: center;
						position: relative;
						.img-wrapper{
							box-shadow: 10px 5px 5px #3c3a3a;
    						border-radius: 76px;
    						max-width: 288px;
    						width: 100%;
							img{
								width: 100%;
							}
						}
						.description-wrapper{							
							height: 100%;
							width: 100%;
							padding: 35px 60px 35px 60px;
							position: absolute;
							.description-wrapper__top{
								padding-bottom: 25px;
								@include align-center;
								justify-content: space-between;
								flex-direction: column;
								height: 50%;
								.tags{
									@include align-center;
									justify-content: space-between;
									width: 80%;
									.tag{
										font-size: 8px;
										color: $main-text-color;
										background-color: transparent;
										min-width: 55px;
										height: 12px;
										line-height: 10px;
										text-align: center;
										border: 1px solid $main-fill-color;
										padding: 0 4px;
										border-radius: 6px;
									}
								}
								.title{
									text-shadow: 2px 2px 1px #000000;
									text-align: center;
									color: $card-test-title;
									font-size: 20px;
									font-weight: 900;
								}
							}
							.description-wrapper__bottom{
								padding-top: 25px;
								@include align-center;
								justify-content: flex-start;
								flex-direction: column;
								height: 50%;
								.button{
									text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
									font-weight: 500;
									font-size: 22px;
									width: 100%;
									max-width: 185px;
									height: 47px;
									border: 1px solid $main-fill-color;
									border-radius: 67px;
									@include align-center;
									justify-content: center;
								}
							}
						}
						
					}
				}
			}
		}
	}
}

footer{
	&.footer-wrapper{
		background-color: $main-color;
		padding: 130px 0 0 0;		
		.footer-top__wrapper{
			border-bottom: 1px solid rgba(229, 229, 229, 0.4);
			.bottom-menu__wrapper {
				margin-bottom: 70px;
				.col-md-6{
					border-right: 1px solid #79797C;
					box-shadow: 5px 0 5px -5px #333;
				}
				ul{
					padding: 0 0 0 40px;
					li{
						position: relative;
						margin-bottom: 40px;
						&:last-child{
							margin-bottom: 0px;
						}
						&:before{
							content: '';
						    position: absolute;
						    left: 0;
						    top: 50%;
						    margin-left: -8px;
						    width: 3px;
						    height: 3px;
						    border-radius: 50%;
						    background-color: $main-text-color;
						}
						a{
							text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
							font-size: 16px;							
						}

					}
				}
			}
			.bottom-contacts__wrapper{
				@include align-center;
				justify-content: space-between;
				flex-direction: column;
				height: calc(100% - 30px);
				.wrapper{	
					width: 100%;				
					text-align: center;
				}	
				.title{
					color: $main-text-color;
					font-size: 24px;
					text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
					margin-bottom: 20px;
				}
				.mail{
					a{
						font-size: 24px;
						text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
					}
				}
				.socials-bottom__wrapper{					
					ul{
						@include align-center;
						justify-content: center;
						li{

						}
					}
				}
			}
		}
		.footer-bottom__wrapper{
			@include align-center;
			justify-content: center;
			height: 80px;			
			width: 100%;
			span{
				display: block;
				color: $main-text-color;
				font-size: 13px;
				/*&:hover{
					color: $main-fill-color;
				}*/
			}
		}
	}
}

.test-wrapper{
	background-position: center !important;
    background-size: cover !important;
    min-height: 500px;    
    background-color: #b3b3b3;
}

.results-wrapper{
	padding: 25px 0 100px 0;
	.result{
		text-align: center;
		font-weight: 900;
		font-size: 96px;
		color: $main-text-color;
		text-shadow: 3px 2px 1px #000000;
		margin: 70px 0 40px 0;
	}
	.description{
		font-weight: normal;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		text-shadow: 2px 1px 0px #000000;
		color: $main-text-color;
		margin-bottom: 35px;
	}
	.socials-wrapper{
		ul{
			@include align-center;
			justify-content: center;
		}
		.item{
			padding: 0 5px;
			a{
				display: block;
				font-size: 0;
				width: 47px;
				border-radius: 50%;
				/*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);*/
				img{
					width: 100%;
				}
			}
		}
	}
	.button-wrapper{
		margin: 75px auto 0 auto;
		width: 382px;
		height: 66px;
		span{
			font-size: 24px;
		}
	}
}

.check-container {
    display: block;
    position: relative;
    padding-left: 63px;
    line-height: 42px;
    cursor: pointer;
    font-weight: 500;
	font-size: 36px;   
    user-select: none;
    text-transform: none;
    color: $col-text-second;
    &:hover input~.checkmark {
	    background-color: #ccc;
	}
	input {
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	    &:checked~.checkmark {
		    background-color: $main-fill-color;
		    &:after {
			    display: block;
			}
		}
	}
	.checkmark {
	    position: absolute;
	    top: calc(50% - 18px);
	    left: 0;
	    height: 36px;
	    width: 36px;
	    background-color: white;
	    border-radius: 50%;
	    border: 1px solid grey;
	    &:after {
		    content: "";
		    position: absolute;
		    display: none;
		    top: 0px;
		    left: 0px;
		    width: 34px;
		    height: 34px;
		    border-radius: 50%;
		    background: $main-fill-color;
		}
	}
}

.custom-bt{	
	@include align-center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 3px solid $main-fill-color;		
	border-radius: 67px;
	box-shadow: none;
	outline: none;
	span{
		font-weight: 500;
		font-size: 30px;
		color: $col-text-second;
	}
	&.bg-tr{
		background: rgba(54, 62, 75, 0.5);
		span{
			color: $main-text-color;
			text-shadow: 1px 1px 1px #000000;
		}
	}
}

.quiz-wrapper{
	padding: 90px 0 100px 0;		
	.quiz-item{
		width: 100%;
		padding: 46px 0 54px 0;		
		max-width: 920px;		
		margin: auto;
		background-color: $main-text-color;
		border-radius: 82px;
		.quiz-item__content{
			opacity: 1;
			visibility: visible;
			transition: all .2s;
			&.fade-out{
				opacity: 0;
				visibility: hidden;
			}
		}	
		.quiz-item__info{
			@include align-center;
			justify-content: space-between;
			padding: 0 66px;
			margin-bottom: 48px;
			.back-bt{
				@include align-center;
				justify-content: flex-start;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
				color: $col-text-second;
				font-weight: normal;
				font-size: 24px;
				cursor: pointer;
				&:before{
					content: '';
					border: 15px solid transparent; 
					border-right: 30px solid $main-fill-color;
					margin-right: 10px;
				}
			}
			.counter{
				font-weight: 500;
				font-size: 40px;
				b{
					color: $main-fill-color;
				}
				span{
					color: $col-text-second;
				}
			}
		}
		.title{
			text-align: center;
			font-weight: 500;
			font-size: 36px;
			margin-bottom: 70px;
			color: $col-text-second;
		}
		.answers{
			padding: 0 100px;
			ul{
				li{
					margin-bottom: 48px;

				}
			}
		}
	}
	.button-wrapper{
		width: 292px;
		height: 72px;
		margin: auto;
	}
}

/******media******/

@media screen and (max-width: 1140px){
	.results-wrapper{
		padding: 25px 0 50px 0;
	}
	.slider-wrapper {
		.content-wrapper {
			.content-categories__wrapper {
				ul{
					li{
						width: $width-slider-md;
						.item {
							.description-wrapper{
								padding: 35px 10px;
								max-width: 288px;
							}
						}
					}
				}
			}
		}
		.switcher-wrapper {
			.arrows-wrapper {
				.arrow{
					width: 62px;
    				height: 62px;
    				img{
    					width: 20px;
    				}
				}
			}
			.description-wrapper {
				ul {
					li{
						font-size: 44px;
    					line-height: 44px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px){
	.light {
		.breadcrumbs-wrapper{

		}
	}
	.results-wrapper {
		.result{
			font-size: 60px;
			line-height: 70px;
    		margin: 20px 0 25px 0;
		}
		.description{
			font-size: 23px;
    		line-height: 29px;
		}
		.button-wrapper{
			margin: 40px auto 0 auto;
		}
	}
	.quiz-wrapper {
		.quiz-item{
			margin: 0 20px;
    		width: calc(100% - 40px);    		
		}	
	}
	.banner-wrapper {
		.banner-description__wrapper {
			h1{
				font-size: 50px;
			}
			.banner-desc{
				font-size: 30px;
			}
		}
	}
	.navbar-nav .dropdown-menu{
		position: absolute;
	}
	.nav-wrapper {
		.nav-menu{
			display: block;
			position: fixed;
		    top: 0;
		    left: 0;
		    z-index: 3;		    
		    height: 100vh;
		    background: white;
		    width: 100%;
		    overflow-y: scroll;
    		overflow-x: hidden;
		    max-width: 350px;
		    margin-left: -350px;
		    transition: margin-left .3s ease;
		    &.show{
				margin-left: 0;
		    }
		    .nav-menu__wrapper{
				flex-direction: column;
				align-items: flex-start;
				padding: 0;
			    margin: 0;			    
			    position: relative;			    			    			    			    			    
			    height: auto;
			    padding: 0 0 30px 15px;
		    }
		    .nav-menu__list{
		    	flex-direction: column;
		    	align-items: flex-start;
		    	li{
		    		a{
		    			color: $main-fill-color;
		    		}
		    	}
		    }
		    .menu-bt {
		    	&.nav-block{
					width: auto;
					border: none;
			    }
		    	.bt-wrp{
		    		display: none !important;
		    	}
		    }
		    .serach-wrapper.block{
		    	border: none;
		    	border: none;
			    width: 100%;
			    margin: 0;
			    align-items: center;
			    justify-content: flex-start;
		    	.search-wrapper__open{
		    		display: none;
		    	}
		    	.search-block__wrapper.hidden{
					display: flex !important;
					input{

					}
					.search-bt{
						background-color: $main-fill-color;
					}
		    	}
		    }
		    .menu-block__wrapper{
		    	width: auto;
			    opacity: 1;
			    min-height: auto;
			    position: initial;
			    box-shadow: none;
			    visibility: visible;
		    	ul.container{
		    		flex-direction: column;
		    		width: auto;
		    		margin: 0;
		    		align-items: flex-start;

		    	}
		    }
		    .menu-title.mobile{
		    	@include align-center;
		    	justify-content: space-between;
				width: 100%;
				height: 45px;
		    	span{
		    		&:first-child{
						color: $col-text-second;
		    		}
		    		&:last-child{
						@include align-center;
		    			justify-content: center;
						color: $col-text-second;
						border: 1px solid $col-text-second;
						height: 100%;
						width: 50px;
						font-size: 35px;
						b{
							font-weight: 200;
							transform: rotate(45deg);	
						}
		    		}
		    	}
		    }
		}
		.menu-bt {
			&.mobile{
				@include align-center;
				justify-content: center;
				width: 30px;
				height: 30px;

			}
		}
		.serach-wrapper{
			&.block.mobile{
				@include align-center;
				justify-content: center;
				width: 30px;
				height: 30px;
				border: none;				
			}
		}		
	}
	.dark-overlay{
		position: fixed;
	    left: 0;
	    top: 0;
	    background-color: black;	    
	    width: 100%;
	    height: 100%;		    
	    z-index: 2;
	    visibility: hidden;
	    opacity: 0;
	    transition: opacity .3s ease, visibility .3s ease;
	    &.mobile{
	    	display: block;	    		    	
	    }
	    &.show{
			visibility: visible;
	    	opacity: 0.3;
	    }
	}
	.slider-wrapper .content-wrapper .content-filters__wrapper{
		display: none;
	}

}

@media screen and (max-width: 768px){
	.custom-bt{
		span{
			font-size: 20px;
		}
	}
	.check-container{
		font-size: 25px;
		line-height: 36px;
		.checkmark{
			height: 30px;
    		width: 30px;
    		top: calc(50% - 15px);
    		&:after{
    			top: 0px;
			    left: 0px;
			    width: 28px;
			    height: 28px;
    		}
		}
	}
	.quiz-wrapper {
		.quiz-item{			
    		.quiz-item__info{
    			padding: 0 35px;
    			margin-bottom: 25px;
    			.back-bt{
    				font-size: 20px;
    			}
    			.counter{
    				font-size: 28px;
    			}
    		}
    		.title{
    			margin-bottom: 30px;
    			font-size: 25px;
    		}
    		.answers{
    			padding: 0px 50px;
    			ul{
    				li{
    					margin-bottom: 20px;

    				}
    			}
    		}
    		.button-wrapper{
    			width: 100%;
    			max-width: 220px;
    			height: 50px;
    		}
		}	
	}
	.banner-wrapper {
		.banner-description__wrapper {
			justify-content: center;
			.wrapper{
				outline: none;
				&:first-child{
					display: none;
				}
				&:last-child{
					outline: none;
				}
			}
			h1{
				font-size: 50px;
			}
			.banner-desc{
				font-size: 30px;
			}
		}
	}
	.slider-wrapper {
		.content-wrapper {
			.content-categories__wrapper {
				ul{
					li{
						width: $width-slider-sm;
						.item {
							.description-wrapper{
								padding: 35px 10px;
								max-width: 288px;
							}
						}
					}
				}
			}
		}
		.switcher-wrapper {
			.arrows-wrapper {
				.arrow{
					width: 42px;
    				height: 42px;
    				img{
    					width: 13px;
    				}
				}
			}
			.description-wrapper {
				ul {
					li{
						font-size: 32px;
    					line-height: 32px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 550px){
	.light {
		.breadcrumbs-wrapper{
			ul{
				li{
					margin-left: 25px;
					a{
						font-size: 18px;
					}
				}
			}
		}
	}
	.results-wrapper {
		.result{
			font-size: 38px;
		    line-height: 44px;
		    margin: 15px 0 15px 0;
		}
		.description{
			font-size: 18px;
    		line-height: 24px;
    		margin-bottom: 20px;
		}
		.button-wrapper{
			width: 100%;
			max-width: 300px;
			height: 45px;
			margin: 30px auto 0 auto;
			span{
				font-size: 18px;
			}
		}
	}
	.banner-wrapper {
		.banner-description__wrapper {
			.subscribe-bt__wrapper{
				display: none;
			}
		}
	}
}

@media screen and (max-width: 480px){
	.light {
		.breadcrumbs-wrapper{
			ul{
				flex-wrap: wrap;
				li{
					margin-left: 18px;
					&:before{
						top: calc(50% - 2px);
    					margin-left: -11px;
					}
					a{
						font-size: 14px;
						line-height: 16px;
					}
				}
			}
		}
	}
	.custom-bt{
		span{
			font-size: 16px;
		}
	}
	.check-container{
		font-size: 16px;
    	line-height: 22px;
    	padding-left: 35px;
		.checkmark{
			height: 22px;
		    width: 22px;
		    top: calc(50% - 11px);
    		&:after{
    			width: 20px;
    			height: 20px;
    		}
		}
	}
	.quiz-wrapper {
		.quiz-item{
			margin: 0;
			width: 100%;	
			border-radius: 50px;		
    		.quiz-item__info{
    			padding: 0 20px;
    			margin-bottom: 18px;
    			.back-bt{
    				font-size: 18px;
    			}
    			.counter{
    				font-size: 22px;
    			}
    		}
    		.title{
    			margin-bottom: 15px;
    			font-size: 20px;
    		}
    		.answers{
    			padding: 0px 30px;
    			ul{
    				li{
    					margin-bottom: 10px;

    				}
    			}
    		}
    		.button-wrapper{    			
    			height: 40px;
    		}
		}	
	}
}

@media screen and (max-width: 400px){
	.slider-wrapper {		
		.switcher-wrapper {			
			.description-wrapper {
				ul {
					li{
						font-size: 25px;
    					line-height: 25px;
					}
				}
			}
		}
	}	
}